.cl-signIn-start,
.cl-signUp-start {
    /* background-color: green; */
    border: unset;
    /* background-color: unset; */
    box-shadow: unset;
}


.cl-header {
    display: none;
}

/* devmodelabels */
.cl-internal-16vtwdp {
    display: none;
}

/* devmodegcolored footer */
.cl-footer {
    background: unset;
}

.cl-footerAction {
    display: none
}

.cl-internal-wf8x4b,
.cl-internal-1fcj7sw {
    color: white;
}