.backdrop {
    background-color: var(--brand-color-base);
    background-color: var(--brand-color-strong);
    min-height: 100svh;

    text-align: center;
    color: var(--fg-color-light-static);

    main {
        margin-top: auto;
        margin-bottom: auto;


    }

}

.startScreen {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25vh;

}



.loginScreen {
    padding: 1rem 2rem;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.registerScreen {
    padding: 1rem 2rem;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}