@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}



/* DIALOG STIL RESET: */
.dialog {
    inset: 0;
    /* top, right, bottom, left = 0 */
    margin: auto;
    /* Centrerar dialogen */
    padding: 0;
    /* Ingen padding */
    border: none;
    /* Ingen border */
    background: transparent;
    /* Transparent bakgrund */
    box-shadow: none;
    /* Ingen skugga */
    max-width: 100vw;
    /* Maxbredd lika med viewport */
    max-height: 100vh;
    /* Maxhöjd lika med viewport */
    font: inherit;
    /* Ärver font från föräldern */
    color: inherit;
    /* Ärver textfärg från föräldern */
}

.dialog {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}




.contentContainer {
    background-color: var(--bg-color-elevated);
    color: var(--fg-color-primary);

    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    max-height: 90svh;
    max-width: 90svw;
    padding: 1rem 0rem 1rem 0rem;

}

.drawer {
    position: fixed;
    bottom: 0px;
    width: 100svw;
    left: 50%;
    transform: translateX(-50%);

    max-height: 90svh;
    max-height: 95svh;
    max-width: 100svw;

    border-radius: 1rem 1rem 0 0;

    animation: slideUp 0.2s ease;
}

.header {
    /* background-color: aqua; */
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .title {
        display: flex;
        align-items: center;

    }

    .closeButton {
        all: unset;
        display: grid;
        place-content: center;
        height: 2.5rem;
        border-radius: 2rem;
        aspect-ratio: 1/1;

        &:hover {
            background-color: hsla(0, 0%, 50%, 0.10);
        }

        &:active {
            background-color: hsla(0, 0%, 50%, 0.20);
        }
    }
}

.main {
    padding: 0rem 1rem;
    overflow: auto;
    /* background-color: aqua; */
}

.footer {
    overflow: auto;
    flex-shrink: 0;

    background-color: aqua;
}