.backdrop {
    background-color: var(--bg-color-base);

}

.pageWrapper {


    min-height: 100svh;
    /* background-color: aqua; */

}

.headerWrapper {
    min-width: 100svw;
    background-color: var(--bg-color-elevated);
    position: sticky;
    top: 0rem;


    .header {

        .homeButton {
            color: var(--brand-color-strong);

            width: 1.75rem;
            aspect-ratio: 1/1;

            display: grid;
            place-items: center;
            /* background-color: aqua; */

            :hover {
                cursor: pointer;
                color: var(--brand-color-base);
            }

        }



        width: 100%;
        color: var(--fg-color-primary);

        display: grid;
        grid-template-columns: auto 1fr auto;

        padding: 1rem;
        padding-bottom: 0.5rem;
        gap: 1rem;


        align-items: center;

        /* background-color: lightblue; */



        .headerLeft {
            /* background-color: blue; */
        }

        .headerMiddle {
            /* background-color: rgb(212, 0, 255); */

            line-height: normal;
            /* * TRUNKERING * */
            /* Bryter ord på raden. */
            word-break: break-word;

            /* WebKit: Aktiverar flerlinjes-trunkering. */
            display: -webkit-box;
            /* WebKit: Ställer in textriktning vertikalt. */
            -webkit-box-orient: vertical;
            /* WebKit: Begränsar till 2 rader. */
            -webkit-line-clamp: 2;

            /* Döljer överflödig text. */
            overflow: hidden;
            /* Lägger till "..." vid avklippt text. */
            text-overflow: ellipsis;
            /* Standard: Begränsar till 2 rader. */
            line-clamp: 1;

            /* * TRUNKERING * */

        }

        .headerRight {
            /* background-color: rgb(255, 0, 140); */
        }
    }
}





.logoContainer {
    line-height: 1;
    width: max-content;

    h1 {
        font-size: var(--font-size-h2);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header>div:first-child {
    justify-self: start;
}

.header>div:last-child {
    justify-self: end;
}