/* LÄNKAR */

/* används på länkar som ska se ut som vanliga klassisla länkar :) */
/* dennaklassen finns så jag ska kunna använda LINK-komponenten från react utan problem och omsluta element med den utan att de ska bli massa länkstyle som default. */
/* Vill jag ha länk-style måste denna klasssen läggas till: */
.link {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.link:hover {
    color: #535bf2;
}



/* size */

/* circle behöver kvadratiskt innehåll för att bli perfekt cirkle. */

.btn-circle {
    border-radius: 10rem !important;
}

.btn-circle.btn-small {
    padding: 0.45rem !important;
}

.btn-circle.btn-medium {
    padding: 0.75rem !important;
}

.btn-circle.btn-large {
    padding: 0.87rem !important;
}

.btn-small {
    all: unset;
    padding: 0.45rem 0.90rem;
    border-radius: 0.45rem;
    font-size: 80%;
    cursor: pointer;
}

.btn-medium {
    all: unset;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 95%;
    cursor: pointer;

}

.btn-large {
    all: unset;
    padding: 0.87rem 1.75rem;
    border-radius: 0.87rem;
    font-size: 115%;
    cursor: pointer;

}

/* SIDOBREDD */
.content-container-width-wrapper {
    max-width: var(--page-width);
    margin: 0 auto
}

/* Style */

.btn-filled-primary {
    background-color: var(--brand-color-base);
    color: var(--fg-color-light-static);

    &:hover {
        background-color: color-mix(in srgb, var(--brand-color-base), var(--fg-color-light-static) 10%)
    }

    &:active {

        background-color: color-mix(in srgb, var(--brand-color-base), var(--fg-color-light-static) 20%);
        outline: none;
    }
}

.btn-filled-strong {
    background-color: var(--brand-color-strong);
    color: var(--fg-color-light-static);

    &:hover {
        background-color: color-mix(in srgb, var(--brand-color-strong), var(--fg-color-light-static) 10%)
    }

    &:active {

        background-color: color-mix(in srgb, var(--brand-color-strong), var(--fg-color-light-static) 20%);
        outline: none;
    }
}

.btn-filled-light-static {
    background-color: var(--fg-color-light-static);
    color: var(--brand-color-base);

    &:hover {
        background-color: color-mix(in srgb, var(--fg-color-light-static), var(--brand-color-base) 10%)
    }

    &:active {

        background-color: color-mix(in srgb, var(--fg-color-light-static), var(--brand-color-base) 20%);
        outline: none;
    }

}

.btn-outlined-primary {
    color: var(--brand-color-base);
    border: 1.5px solid var(--brand-color-base);

    &:hover {
        background-color: color-mix(in srgb, var(--brand-color-base), transparent 90%)
    }

    &:active {

        background-color: color-mix(in srgb, var(--brand-color-base), transparent 80%);
        outline: none;
    }
}

.btn-outlined-strong {
    color: var(--brand-color-strong);
    border: 1.5px solid var(--brand-color-strong);

    &:hover {
        background-color: color-mix(in srgb, var(--brand-color-strong), transparent 90%)
    }

    &:active {

        background-color: color-mix(in srgb, var(--brand-color-strong), transparent 80%);
        outline: none;
    }
}

.btn-outlined-light-static {
    color: var(--fg-color-light-static);
    border: 1.5px solid var(--fg-color-light-static);

    &:hover {
        background-color: color-mix(in srgb, var(--fg-color-light-static), transparent 90%)
    }

    &:active {

        background-color: color-mix(in srgb, var(--fg-color-light-static), transparent 80%);
        outline: none;
    }
}