/*===================================== 
INDEX.CSS
Här definerar vi grundläggande CORE-style 
=======================================*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* ändrar rem: */
  font-size: 15px;
  background-color: var(--brand-color-strong);

}

:root {
  font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular",
    Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--fg-color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

hr {


  all: unset;
  /* Tar bort alla ärvda och default styles */
  display: block;
  /* Behövs om du vill ge den egna dimensioner */




  height: 1px;

  background-color: hsla(0, 0%, 50%, 0.2);
  width: 100%;
}

body {
  margin: 0;
  height: fit-content;
  min-height: 100svh;
  background-color: var(--brand-color-strong);
}



a {
  color: inherit;
  /* Tar bort blå/lila färg, ärver från förälder */
  text-decoration: none;
  /* Tar bort understrykning */
  cursor: pointer;
  /* Bibehåller handpekare */
}

a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  /* Säkerställer att färgen inte ändras vid interaktion */
  text-decoration: none;
  /* Säkerställer ingen understrykning vid interaktion */
}



button {
  all: unset
}

button:focus,
button:focus-visible {
  /* box-shadow: inset 0 0 8px rgb(0, 179, 255); */
  /* blå ton, likt fokus */
  /* outline: 4px auto -webkit-focus-ring-color; */
}

button:focus {
  /* box-shadow: inset 0 0 8px rgb(0, 179, 255); */
  /* blå ton, likt fokus */
  /* outline: 4px auto -webkit-focus-ring-color; */
}

button:focus-visible {
  box-shadow: inset 0 0 8px rgb(0, 179, 255);
  /* blå ton, likt fokus */
  /* outline: 4px auto -webkit-focus-ring-color; */
}






/* rubriker */
h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}


label {
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

input,
textarea {
  all: unset;
  background-color: hsla(0, 0%, 50%, 0.2);

  padding: 0.65rem 1rem;
  border-radius: 0.5rem;
  font-size: 110%;
  resize: vertical
}

input {
  min-height: 1.5rem;
  display: flex;
  align-items: center;
}

input[type="time"] {
  min-width: 3.5rem;
  font-size: 100%;

  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

input[type="date"] {
  min-width: 7rem;
  font-size: 100%;

  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

textarea {
  min-height: 5rem;
  resize: vertical;
}