@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}



/* DIALOG STIL RESET: */
.dialog {
    /* inset: 0; */
    /* top, right, bottom, left = 0 */
    margin: auto;
    /* Centrerar dialogen */
    /* padding: 0; */
    /* Ingen padding */
    border: none;
    /* Ingen border */
    /* background: transparent; */
    /* Transparent bakgrund */
    /* box-shadow: none; */
    /* Ingen skugga */
    /* max-width: 100vw; */
    /* Maxbredd lika med viewport */
    /* max-height: 100vh; */
    /* Maxhöjd lika med viewport */
    /* font: inherit; */
    /* Ärver font från föräldern */
    /* color: inherit; */
    /* Ärver textfärg från föräldern */
}

.dialog {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


.contentContainer {



    background-color: var(--bg-color-elevated);
    color: var(--fg-color-primary);

    display: flex;
    flex-direction: column;
    max-height: 90svh;
    max-width: 90svw;
    padding: 1rem 0rem 1rem 0rem;
}


/* storlekar för innehållet i modalen.*/
.small {
    max-width: var(--modal-content-max-width-small);
    margin: 0 auto;

}

.large {
    max-width: var(--modal--content-max-width-large);
    margin: 0 auto
}



.header {
    /* background-color: aqua; */
    padding: 0rem 1rem;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    gap: 1rem;


    .title {
        display: flex;
        align-items: center;
        flex-grow: 1;
        /* background-color: aquamarine; */
    }

    .closeButton {
        all: unset;
        display: grid;
        place-content: center;

        border-radius: 2rem;
        aspect-ratio: 1/1;

        height: 2.5rem;

        &:hover {
            background-color: hsla(0, 0%, 50%, 0.10);
        }

        &:active {
            background-color: hsla(0, 0%, 50%, 0.20);
        }
    }
}

/* outer containers uppgift är att skrolla Innercontainern och hålla fast fadern sticky vid sina kanter */
.mainOuterContainer {
    overflow: auto;
    /* background-color: aqua; */
    width: 100%;


    /* Fader ligger sticky till outer container och skrollas därför inte */
    .faderTop {
        position: sticky;
        top: 0rem;
        height: 0.5rem;
        width: 100%;
        /* background-color: rgba(128, 128, 128, 0.422); */
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, var(--bg-color-elevated) 100%);
    }

    .faderBottom {
        position: sticky;
        bottom: 0rem;
        height: 0.5rem;
        width: 100%;
        /* background-color: rgba(128, 128, 128, 0.422); */
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg-color-elevated) 100%);
    }
}

/* häri ligger själva innehållet */
.mainInnerContainer {
    padding: 0 1rem;
    /* background-color: red; */
    width: 100%;
    /* marginal ner mot fader
    margin-bottom: 0.5rem;


}

.footer {
    overflow: auto;
    flex-shrink: 0;
    width: 100%;
    padding: 0rem 1rem;

    /* background-color: aqua; */
}


/* Drawer ska bara fungera på små skärmar. på stora skärmar gäller vanlig modal. */
@media screen and (max-width: 576px) {
    .drawer {
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        max-height: 95svh;

        /* både bredd och max-bredd behövs */
        /* sätter bredden */
        width: 100svw;
        /* skriver över den maxbredd som standardmodalen har annars */
        max-width: 100svw;

        border-radius: 1rem 1rem 0 0;

        animation: slideUp 0.2s ease;

        /* extra padding mot telefonens botten och navigeringsfält och så. */
        padding-bottom: 2rem;

        /* background-color: green; */
    }


}