.form {
    display: flex;
    flex-direction: column;



    .timeSection {

        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
    }

    .timeSectionInputGroup {
        display: flex;
        flex-wrap: wrap;

        gap: 0.5rem;


    }


}

/* Vid brytpunkt från mobil till desktop sätts en minsta bredd på formuläret. annars blire så smalt :)   */
@media screen and (min-width: 576px) {
    form {

        min-width: 450px;

        /* background-color: antiquewhite; */

    }
}


.colorPickerSectionWrapper {
    container-type: inline-size;

}

.colorPickerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;



}


@container (min-width:375px) {
    .colorPickerGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}