.form {
    display: flex;
    flex-direction: column;
    /* background-color: green; */



    .timeSection {

        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
    }

    .timeSectionInputGroup {
        display: flex;
        flex-wrap: wrap;




        gap: 0.5rem;


    }
}


.colorPickerSectionWrapper {
    container-type: inline-size;

}

.colorPickerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;



}


@container (min-width:375px) {
    .colorPickerGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}