.form {
    display: flex;
    flex-direction: column;
    /* background-color: green; */



    .timeSection {

        margin-top: 1.5rem;
        margin-bottom: 0.5rem;

        label {
            margin-top: unset;

        }

        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    .timeSectionInputGroup {
        display: flex;
        gap: 0.5rem
    }
}