.form {
    display: flex;
    flex-direction: column;
    /* background-color: green; */



    .timeSection {

        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
    }

    .timeSectionInputGroup {
        display: flex;
        flex-wrap: wrap;




        gap: 0.5rem;

        input[type="time"] {
            min-width: 2rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        input[type="date"] {
            min-width: 6rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}