.siteContainer {
    background-color: hotpink;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;

    .siteHeader {
        position: sticky;
        top: 0px;
    }

    .siteMain {}
}


.headerBG {
    background-color: var(--brand-color-strong);
    /* background-color: aqua; */

    /* position: sticky; */
    top: 0;
    width: 100%;
    z-index: 100;

    background-color: aqua;
}



.header {
    color: var(--fg-color-light-static);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0.5rem;
    align-items: center;

    padding: 1rem;
    /* padding-bottom: 0.5rem; */

    /* background-color: antiquewhite; */

}

.logoContainer {
    line-height: 1;
    width: max-content;

    h1 {
        font-size: var(--font-size-h2);
    }

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header>div:first-child {
    justify-self: start;
}

.header>div:last-child {
    justify-self: end;
}

.bellButton {
    color: inherit;

    width: 1.75rem;
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
    /* background-color: aqua; */

    :hover {
        cursor: pointer;
        /* color: var(--brand-color-base); */
    }

}