.card {
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    overflow: hidden;


    cursor: pointer;




    line-height: 1.2;



    .dateStamp {
        flex-shrink: 0;

        line-height: 1;

        height: 3rem;
        aspect-ratio: 1/1;
        border: 1px solid white;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }




    .mainContainer {
        /* background-color: rgba(255, 255, 255, 0.147); */
        display: flex;
        flex-direction: column;

        /* background-color: aqua; */





        gap: 0.25rem;
        /* background-color: aliceblue; */

    }

    /* * TRUNKERING* */
    .title,
    .description {
        /* Bryter ord på raden. */
        word-break: break-word;

        /* WebKit: Aktiverar flerlinjes-trunkering. */
        display: -webkit-box;
        /* WebKit: Ställer in textriktning vertikalt. */
        -webkit-box-orient: vertical;
        /* WebKit: Begränsar till 2 rader. */
        -webkit-line-clamp: 2;

        /* Döljer överflödig text. */
        overflow: hidden;
        /* Lägger till "..." vid avklippt text. */
        text-overflow: ellipsis;
        /* Standard: Begränsar till 2 rader. */
        line-clamp: 2;
    }

    /* * TRUNKERING* */
    .locationText {
        /* Bryter ord på raden. */
        word-break: break-word;

        /* WebKit: Aktiverar flerlinjes-trunkering. */
        display: -webkit-box;
        /* WebKit: Ställer in textriktning vertikalt. */
        -webkit-box-orient: vertical;
        /* WebKit: Begränsar till 2 rader. */
        -webkit-line-clamp: 1;

        /* Döljer överflödig text. */
        overflow: hidden;
        /* Lägger till "..." vid avklippt text. */
        text-overflow: ellipsis;
        /* Standard: Begränsar till 2 rader. */
        line-clamp: 1;
    }

}

.small {
    padding: 1rem 1rem;

    .dateStamp {
        font-size: 80%;
        height: 2.25rem;
        border-radius: 0.30rem;
    }

    .title {
        font-size: 90%;
        /* margin-bottom: 0.25rem; */


    }
}


.cardLandScape {
    /* gap: 1rem; */


    .dateStamp {
        /* align-self: flex-start; */
    }

    /* 
    .mainContainer {
        display: flex;
        flex-direction: column;

        /* background-color: aqua; */

    /* justify-content: center; */

    /* gap: 0.25rem; */
    /* background-color: aliceblue; */

    /* }  */
}

.cardPortrait {
    /* display: flex; */
    /* <-- viktigt! */

    /* gap: 0.25rem;
    flex-direction: column;
    align-items: start;
    justify-content: space-around; */



    .dateStamp {
        /* align-self: flex-start; */
        /* margin-bottom: auto; */
        /* background-color: antiquewhite; */
    }

}



.locationSection {

    /* background-color: aqua; */
    width: 100%;
    /* margin-top: 0.5rem; */
    display: flex;
    align-items: center;
    gap: 0.5rem;




    .pinIcon {
        flex-shrink: 0;
    }
}







/* lägger gradient med mixed mode så de bli lite fin färg.
som before pga Mixed mode påverkar annars också texten */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

    /* samma som kortet */


    /* background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(255, 255, 254, 0.4) 100%); */
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(255, 255, 254, 0.3) 100%);
    /* background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(255, 255, 254, 0.2) 100%); */
    mix-blend-mode: overlay;
}

/* FLEX I KORT SOM ÄR LANDSKAP */
.card.cardLandScape {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* FLEX I MAINCONTAINER PÅ SMÅ LANDSKAPSKORT */
.card.cardLandScape.small {
    .mainContainer {
        gap: 0.5rem;
    }
}


.large {
    .mainContainer {
        gap: 0.5rem;
    }
}


/* FLEX I KORT SOM ÄR LANDSKAP */
.card.cardPortrait {

    flex-direction: column;

    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;

    .mainContainer {
        /* background-color: aliceblue; */
        min-height: 33%;
        justify-content: space-evenly;
        width: 100%;
        /*för positionering av locationsection*/


    }


}