.card {
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: flex;

    overflow: hidden;
    align-items: center;

    line-height: 1.2;

    .dateStamp {
        flex-shrink: 0;

        line-height: 1;

        height: 3rem;
        aspect-ratio: 1/1;
        border: 1px solid white;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title,
    .description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* För Webkit-baserade webbläsare */
        overflow: hidden;
        text-overflow: ellipsis;

        /* Denna kommer att överstyra -webkit-versionen om webbläsaren stöder den bättre */
        line-clamp: 2;
    }

}

.small {
    padding: 1rem 1rem;

    .dateStamp {
        font-size: 80%;
        height: 2.5rem;
    }

    .title {
        font-size: var(--font-size-h4);
        margin-bottom: 0.25rem;
    }
}

/* båda selektiorerna närvarande: */
.cardLandScape.small {
    gap: 0.5rem;
}

.cardLandScape {
    flex-direction: row;
    gap: 1rem;

    .dateStamp {
        align-self: flex-start;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 0.25rem;

    }
}

.cardPortrait {
    gap: 0.25rem;
    flex-direction: column;
    align-items: start;


    .dateStamp {}
}




.locationSection {
    /* background-color: aqua; */

    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}







/* lägger gradient med mixed mode så de bli lite fin färg.
som before pga Mixed mode påverkar annars också texten */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

    /* samma som kortet */


    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(255, 255, 254, 0.3) 100%);
    mix-blend-mode: overlay;
}