.contentContainer {
    /* background-color: antiquewhite; */

    display: flex;
    flex-direction: column;


    padding-top: 1rem;
    padding-bottom: 10rem;

}

.eventInfoSection {

    padding: 1rem 1.5rem;
    padding-bottom: 1.5rem;

    border-radius: 1rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color-elevated);

}