.main {
    min-height: 100svh;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: rgba(143, 143, 143, 0.1);


    /* för container query */
    container-type: inline-size;

}