.backdrop {
    background-color: var(--brand-color-base);
    background-color: var(--brand-color-strong);

    min-height: 100svh;
    color: var(--fg-color-light-static);

    main {
        padding: 1rem 0rem;
        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        /* background-color: aqua; */
    }

    /* för container query */
    container-type: inline-size;

}



.rightNowSection {

    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    .cardsContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }

    @container (min-width: 576px) {
        .cardsContainer {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;


        }
    }

}

.yourEventsSection {

    .yourEventsSectionHeading {
        padding: 0 1rem;
    }
}